.Dendrogram-chart--simple{
    overflow: auto;
    width:100vw;
    height:100vh;
    svg{
        
        g{
        }
    }
}

.chart-container{
    width:70vw;
    height:80vh;
    overflow: auto;
}