.modalDialog{
	position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    display: block;
    width:600px;
    height:172px;
}
.modalDialog .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modalDialog{
    .modal-title {
        margin: 0;
        line-height: 1.42857143;
    }
    h4 {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 18px;
    }
    .close {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
        &:hover{
            cursor:pointer;
        }
    }
    .modal-body {
        position: relative;
        padding: 15px;
    }
    .modal-footer {
        text-align: right;
        padding:15px 0;
        border-top: 1px solid #e5e5e5;
    }
    .btn{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        margin-right:15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        &:hover{
            color: #333;
            text-decoration: none;
            cursor:pointer;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
    }
    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
        &:hover {
            color: #fff;
            background-color: #286090;
            border-color: #286090;
        }
    }
} 