/* 第三屏开始 */

.screen-3 {
    color: rgb(255,255,255);
    height: 800px;
    background-color: #a71316;
}

.screen-3__wrap {
    max-width: 1200px;
    min-width: 800px;
    margin: 0px auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.screen-3__heading {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 580px;
    font-size: 36px;
}
.screen-3__subheading {
    position: absolute;
    top: 170px;
    left: 10px;
    width: 580px;
    font-size: 16px;
}

.screen-3__phone{
    width: 729px;
    height: 900px;
    position: absolute;
    top: 200px;
    left: 465px;
    background: url(./bg-screen-3.png) no-repeat;
}

.screen-3__features {
    position: absolute;
    width: 328px;
    height: 288px;
    bottom: 140px;
    left: 5px;
}
.screen-3__features-item-number{
    font-size: 36px;
    line-height: 36px;
    padding: 32px 0 9px 0;
    display: block;
}
.screen-3__features-item {
    float: left;
    width: 138px;
    height: 118px;
    border: 1px solid #D97173;
    border-radius: 3px;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    margin: 0 24px 24px 0;
    color: #fff;
    span{
        display:block
    }
}