.swipe-container{ 
  background-color: #E3DEDC;
  width:70vw;
  .swipe-header{
    display:flex;
    background-color: #BFB8B1;
    height:25px;
    div{
      color:white;
      display:flex;
      align-items:center;
      justify-content: center;
      border-bottom:thick solid #E3DEDC;
    }
    .select{
      color:#826558;
      border-bottom:thick solid #826558;
    }
  }
  .swipe-body{  
    $bodyHeight:150px;

    color:#C2A9AD;
    height:$bodyHeight;
    overflow:hidden;
    position:relative;
    frame{
    height:$bodyHeight;
    position:absolute
    } 
    .left-button{
      position:absolute;
      top:50%;
      left:5px;
      line-height:20px;
      font-size:20px;
      margin-top:-10px;
    }
    .right-button{
      position:absolute;
      top:50%;
      right:5px;
      line-height:20px;
      font-size:20px;
      margin-top:-10px;
    }
  }
  .swipe-footer{
    display:flex;
    justify-content:center;
    margin-top:-15px;
    div{
      width:5px;
      height:5px;
      border-radius:50%;
      background-color: white;
      margin:5px;
    }
    .select{
      background-color:#C2A9AD;
    }
  }
}