.item-container{
    z-index:-1;
    background-color:transparent;
    margin-left:20px;
    line-height:20px;
    font-size:15px;
    .item-title{
        cursor: pointer;
        overflow:hidden;
        font-size: 16px;
        line-height:32px;
        &:hover,&:active{
            color:white;
        }  
        .icon-triangle-right{
            float:right;
            margin-top:5%;
            margin-right:20px;   
            transition:0.5s;
        } 
        .unfolded{
            transform: rotate(90deg);
            transition:0.5s;
        }
    }
    .item-content{
        overflow: hidden;
        div{
            transition: 1s;
        } 
    } 
}
