.lazy-load-container{
    div{
        width:150px;
        height:150px;
    }
    img{
        width:150px;
        height:150px;
    }
}

.lazy-load-wrapper{
    height:100vh;
    overflow:scroll;
}